# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Python build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# VS / Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Environment variables / secrets
.env
*.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Dataset / assets / pretrained models
*.pt
*.pth
*.onnx
*.zip

# Dataset / assets
dataset-coco-seg/
dataset-coco-seg.zip
sample_assets/
sample_assets.zip
